* {
    box-sizing: border-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: left;
    padding: 0em 4em;
}

.navlist {
    background-color: #A3C7CC;
    width: 100%;
    height: 70px;
    color: #E5FAFF;
    text-align: center;
}

.navlist li {
    display: inline-block;
    margin: 0 8px;
    padding-top: 1.75em;
    padding-bottom: 0%;
}

.main {
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}

.proj-exp-edu h4 {
    text-align: left;
    padding: 0em 4em;
    line-height: 0;
}

#proj p {
    line-height: 0;
    margin-bottom: 4em
}

.about-tech {
    display: inline-flex;
}

.about-tech, .proj-exp-edu {
    margin-top: 0.5em;
    margin-bottom: 4em;
}

.name {
    line-height: 0;
    margin-top: 60px;
    margin-bottom: 30px;
}

.bottom {
    color: #A3C5CF;
    border-top: 2px solid;
    margin: 0em 14.5em;
    text-align: center;
}

.bottom li {
    display: inline-block;
    margin: 0 1em;

}

.headings {
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-bottom-color: #A3C5CF;
    border-top-color: gray;
    line-height: 0;
    font-size: 1.2em;
}

.contact form label {
    text-align: none;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    width: 55%;
    color: #A3C7CC;
}

input[type=submit] {
    background-color:white;
    color: #A3C7CC;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 55%;
} 

input[type=submit]:hover {
    background-color: seashell;
}

.container {
    border-radius: 5px;
    background-color: #A3C7CC;
    padding: 20px;
    width: 45em;
    margin: 15px auto 60px;
    color: #E5FAFF;
}

form {
    width: 65%;
    margin: 0 auto;
}

form textarea {
    width: 100%;
}

.contact form input {
    width: 100%;
}